.instructions {
  text-align: left;
}

.instructions ol {
  list-style-type: none;
  padding-left: 0;
}
.flex-1 {
  overflow-y: auto;
}
.wrapper__dashboard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.instructions {
  text-align: left;
  max-height: 450px;
  overflow-y: auto;
}

.red-text {
  color: #214371;
}

.instructions ol {
  list-style-type: none;
  padding-left: 0;
}

.flex-1 {
  overflow-y: auto;
}

.wrapper__dashboard {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
