.bg-dark-purple.collapsed img {
  width: 70px;
}
.flex.gap-x-3.items-center {
  padding-left: 19px;
  margin-top: 52px;
}

.pt-6 {
  margin-top: 20px;
}
.iconsMenu {
  display: flex;
  color: white;
  width: 100%;
  padding-left: 25px;
}

.iconsMenu:hover {
  text-decoration: none;
  color: whitesmoke;
}

.iconsMenu img {
  margin-right: 10px;
}
.logoSidebar {
  width: 35px;
  height: 55px;
  margin-top: 5px;
  margin-right: 7px;
}
.text-white {
  text-align: left;
  color: #fff;
  font-family: Prosto One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.active-link {
  background-color: #464646;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.active-link:hover {
  background-color: #575757;
}

.active-link .text-white {
  font-family: Prosto One;
  font-size: 18px;
}

.iconsMenu[title]:hover:after {
  content: attr(title);
  position: relative;
  padding: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
}
.control-icon {
  z-index: 3;
  position: absolute;
  margin-left: 110%;
  margin-top: -15px;
  width: 25px;
  height: 25px;
}
.user-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  background-color: #343434;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #434343;
}

.user-icon {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-left: auto;
}

.user-name {
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .bg-dark-purple {
    position: absolute;
  }
  .text-white {
    text-align: left;
    font-family: Prosto One;
    margin-right: 10px;
  }
  .logoSidebar {
    width: 30px;
    height: 50px;
  }
  .active-link .text-white {
    font-size: 13px;
    margin-right: 10px;
  }
  .dashboard,
  .buttons-container {
    margin-left: 15%;
  }
  .head {
    text-align: center;
    margin-left: 15%;
  }
}
