.bg-dark-purple.collapsed img {
  width: 70px;
}
.flex.gap-x-3.items-center {
  padding-left: 19px;
}
.iconsMenu {
  display: flex;
  color: white;
  width: 100%;
  padding-left: 25px;
}

.iconsMenu:hover {
  text-decoration: none;
  color: whitesmoke;
}

.iconsMenu img {
  margin-right: 10px;
}
.logoSidebar {
  width: 43px;
  height: 63px;
}
.text-white {
  text-align: left;
  margin-left: 2px;
  font-family: Prosto One;
  font-size: 18px;
}

.active-link {
  /* background-color: rgba(217, 217, 217, 0.2); */
  background-color: #464646;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.active-link:hover {
  background-color: #575757;
}

.active-link .text-white {
  font-family: Prosto One;
  font-size: 18px;
}

@media screen and (max-width: 500px) {
  .text-white {
    text-align: left;
    font-family: Prosto One;
    margin-right: 10px;
  }
  .logoSidebar {
    width: 30px;
    height: 50px;
  }
  .active-link .text-white {
    font-size: 13px;
    margin-right: 10px;
  }
}
